---
layout: landing-page-v1
agreement_id: 20
agreement_content: >
  Wyrażam zgodę na przetwarzanie moich danych osobowych podanych przeze mnie w powyższym
  formularzu przez mfind sp. z o.o. oraz mfind IT sp. z o.o. w celu kontaktu ze mną
  związanego z dokonaniem porównania i przedstawienia mi ofert ubezpieczeniowych,
  udostępnienia moich danych wybranym zakładom ubezpieczeń oraz multiagencjom i ewentualnego
  zawarcia umowy ubezpieczenia. Jestem świadomy, że podanie danych osobowych jest dobrowolne,
  a powyższą zgodę mogę w każdej chwili cofnąć w całości lub w części.
---

<div class="page-content" id="top">
  <section id="intro" class="bg-green">
    {% include section-top-slider-no-phone.html %}
    <a class="go-next scroll-to" href="#dlaczego-mfind" title="Dlaczego mfind"></a>
  </section>

  <section id="dlaczego-mfind">
    {% include section-dlaczego-mfind.html %}
  </section>

  <section class="bg-green" id="zaufali-nam">
  {% include section-trusted-us.html %}
  </section>

  <section id="porownujemy-ubezpieczenia">
    {% include section-compare-oc.html %}
  </section>

  <section id="faq">
    {% include section-faq-v1.html %}
  </section>

  {% include product-quick-view.html %}
</div>
