<div class="col-12 text-center header-wrapper">
  <h2>Dlaczego mfind?</h2>
</div>
<div class="col-sm-12 col-lg-4 text-center">
  <div class="iconbox">
    <div class="iconbox-icon">
      <img alt="Oszczędzaj czas" src="{{ site.aws_bucket }}/images/homepage/icons/time-icon.png">
    </div>
    <h3 class="iconbox-title">Oszczędzasz czas</h3>
    <div class="iconbox-content">
      <p>
        Ubezpieczenie OC i AC kupisz w 5 minut.
        <br> Wypełniasz krótki formularz i otrzymujesz
        <br> wyniki z wielu towarzystw w jednym miejscu.
      </p>
    </div>
  </div>
</div>
<div class="col-sm-12 col-lg-4 text-center">
  <div class="iconbox">
    <div class="iconbox-icon">
      <img alt="Zyskuj pieniądze" src="{{ site.aws_bucket }}/images/homepage/icons/savings-icon.png">
    </div>
    <h3 class="iconbox-title">Zyskujesz pieniądze</h3>
    <div class="iconbox-content">
      <p>
        Porównując ubezpieczenia OC i AC masz
        <br> gwarancję, że kupujesz najtańsze i najlepsze
        <br> ubezpieczenie dla swojego samochodu.
      </p>
    </div>
  </div>
</div>
<div class="col-sm-12 col-lg-4 text-center">
  <div class="iconbox">
    <div class="iconbox-icon">
      <img alt="Kupujesz świadomie" src="{{ site.aws_bucket }}/images/homepage/icons/paylist-icon.png">
    </div>
    <h3 class="iconbox-title">Kupujesz świadomie</h3>
    <div class="iconbox-content">
      <p>
        Wiesz, co porównujesz i co zawiera każda
        <br> oferta. Dzięki temu możesz kupić
        <br> najkorzystniejszą dla Ciebie polisę.
      </p>
    </div>
  </div>
</div>
