<div class="col-sm-12 col-md-6 col-lg-3 menu-footer-desktop">
  <h5 class="col-title">Porównywarka ubezpieczeń</h5>
  <ul class="menu-items">
    <li>
      <a href="{{ '/ubezpieczenie-oc-ac/kalkulator-oc-ac' | prepend: site.mfind_url }}" title="Kalkulator OC i AC">
        Kalkulator OC i AC
      </a>
    </li>
    <li>
      <a href="{{ '/biuroprasowe/o-nas/' | prepend: site.mfind_url }}" title="O nas">
        O nas
      </a>
    </li>
    <li>
      <a href="https://punkta.prowly.com/" title="Biuro prasowe">
        Biuro prasowe
      </a>
    </li>
    <li>
      <a href="{{ '/ubezpieczenie-oc-ac/kalkulator-oc-ac' | prepend: site.mfind_url }}" title="Ubezpieczenie OC">
        Ubezpieczenie OC
      </a>
    </li>
  </ul>
</div>
<div class="col-sm-12 col-md-6 col-lg-3 menu-footer-desktop">
  <h5 class="col-title">Akademia mfind</h5>
  <ul class="menu-items">
    <li>
      <a href="{{ '/akademia/abc-zakupu/' | prepend: site.mfind_url }}" title="Ubezpieczenie samochodu">
        Ubezpieczenie samochodu
      </a>
    </li>
    <li>
      <a href="{{ '/akademia/raporty-i-analizy/' | prepend: site.mfind_url }}" title="Raporty i analizy">
        Raporty i analizy
      </a>
    </li>
    <li>
      <a href="{{ '/akademia/ciekawostki-ubezpieczeniowe/' | prepend: site.mfind_url }}"
         title="Ciekawostki ubezpieczeniowe">
        Ciekawostki ubezpieczeniowe
      </a>
    </li>
    <li>
      <a href="{{ '/akademia/slowniczek-ubezpieczeniowy/' | prepend: site.mfind_url }}"
         title="Słowniczek ubezpieczeniowy">
        Słowniczek ubezpieczeniowy
      </a>
    </li>
  </ul>
</div>
<div class="col-sm-12 col-md-6 col-lg-3 menu-footer-desktop">
  <h5 class="col-title">O mfind</h5>
  <ul class="menu-items">
    <li>
      <a href="{{ '/dlaczego-mfind/' | prepend: site.mfind_url }}" title="Dlaczego my">Dlaczego my</a>
    </li>
    <li>
      <a href="{{ '/jak-to-dziala/' | prepend: site.mfind_url }}" title="Jak to działa">Jak to działa</a>
    </li>
    <li>
      <a href="{{ '/regulamin-polityka-prywatnosci/' | prepend: site.mfind_url }}" title="Regulamin">Regulamin</a>
    </li>
    <li>
      <a href="{{ '/regulamin-polityka-prywatnosci#polityka-prywatnosci/' | prepend: site.mfind_url }}"
         title="Polityka prywatności">Polityka prywatności</a>
    </li>
    <li>
      <a href="{{ '/dolacz-do-nas/' | prepend: site.mfind_url }}" title="Praca">Praca</a>
    </li>
  </ul>
</div>
