<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
  <meta content="mfind" name="author">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="mfind" name="author">
  <meta content="{{ site.keywords }}" name="keywords">
  <meta name="description" content="{{ site.description }}">
  <meta content="noindex,nofollow" name="robots">
  <meta content="pl_PL" property="og:locale">
  <meta content="website" property="og:type">
  <meta content="{{ site.og_title }}" property="og:title">
  <meta content="{{ site.og_description }}" property="og:description">
  <meta content="{{ site.og_url }}" property="og:url">
  <meta content="https://mfind-production.s3.amazonaws.com/mfind_net/mfind-image-opengraph.png" property="og:image">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/lp/favicon/favicon.ico' | relative_url }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" media="all" href="{{ '/assets/lp/css/styles.css' | relative_url }}"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="{{ '/assets/html5shiv.js' | relative_url }}"></script>
  <![endif]-->
  {% include tracking-head.html %}
</head>
