<header class="header-page">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-2">
        {% include logo.html %}
      </div>
      <div class="col-sm-10">
        <a id="ga-goal-4" class="btn-fixed-menu"
           href="{{ '/ubezpieczenie-oc-ac/kalkulator-oc-ac' | prepend: site.mfind_url }}" title="Kalkulator OC i AC">
          Kalkulator OC i AC
        </a>
        <a id="ga-goal-5" class="phone-orange call-to-us" href="tel:{{ site.contact_phone }}"> {{ site.contact_phone_with_spaces }} </a>
      </div>
    </div>
  </div>
</header>
