<div class="hero-wrapper">
  <h1>
    Oszczędź na swoim <br> ubezpieczeniu OC/AC
    <span class="sub-h1">
      Skorzystaj z <span class="yellow-text">darmowej porównywarki</span><br>i nie przepłacaj za polisę!
    </span>
  </h1>
  <ul class="advantages">
    <li>oszczędność czasu i pieniędzy</li>
    <li>bezpłatna pomoc doradców</li>
    <li>ubezpieczenie bez wychodzenia z domu</li>
  </ul>
  <a id="ga-goal-1" class="btn-yellow" href="{{ '/ubezpieczenie-oc-ac/kalkulator-oc-ac' | prepend: site.mfind_url }}"
     title="Kalkulator OC AC">
    Znajdź tanie OC i AC
  </a>
  <div class="subinfo-call">
    <span>lub</span>
    <br>
    <a class="call-to-us" href="tel:{{ site.contact_phone }}">
      <span class="fa fa-phone"></span>
      <span class="text">zadzwoń do doradcy mfind</span>
    </a>
  </div>
</div>
