<!-- product quick view -->
<div class="pqv-scrollable-wrap">
  <div class="pqv-quick-view" id="pqv-quick-view">
    <div class="pqv-item-image">
      <img alt="" id="pqv-item-image" src="" data-proofer-ignore />
    </div>
    <div class="pqv-item-info">
      <h2 class="pqv-item-title" id="pqv-item-title"></h2>
      <p class="pqv-item-description" id="pqv-item-description"></p>
      <ul class="pqv-item-action">
        <li class="count-collection">
          <a class="btn-rounded btn-rounded-small btn-cta-default"
             href="{{ '/ubezpieczenie-oc-ac/kalkulator-oc-ac' | prepend: site.mfind_url }}" title="Kalkulator OC/AC">
            <span class="text">
              Oblicz składkę
              <span class="mobile-hide">
                w
                <span id="pqv-item-btn-title"></span>
              </span>
            </span>
          </a>
        </li>
        <li class="count-collection">lub</li>
        <li>
          <a href="#" id="pqv-item-article" target="_blank">Dowiedz się więcej</a>
        </li>
      </ul>
    </div>
    <div class="pqv-close">Close</div>
  </div>
</div>
<!-- end of product quick view -->
