<section class="bg-green" id="intro-no-phone">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>
          Oszczędź na swoim <br> ubezpieczeniu OC/AC
          <span class="sub-h1">
            Skorzystaj z <span class="yellow-text">darmowej porównywarki</span> <br> i nie przepłacaj za polisę!
          </span>
        </h1>
        <ul class="advantages">
          <li>oszczędność czasu i pieniędzy</li>
          <li>bezpłatna pomoc doradców</li>
          <li>ubezpieczenie bez wychodzenia z domu</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <div class="inner">
          <img alt="Porównywarka OC i AC najtańsze ubezpieczenie samochodu"
               src="{{ site.aws_bucket }}/images/homepage/hero/hero-offers.png">
        </div>
      </div>
    </div>
  </div>
</section>
