<div class="social-media">
  <p class="sm-label">Znajdź nas:</p>
  <a class="sm-logo" href="https://www.facebook.com/punktapl/" target="_blank" title="FB PunktaPL mfind">
    <img alt="Facebook" src="{{ site.aws_bucket }}/images/homepage/icons/facebook-footer-icon.png">
  </a>
  <a class="sm-logo" href="https://twitter.com/PunktaPL" target="_blank" title="Twitter PunktaPL mfind">
    <img alt="Twitter" src="{{ site.aws_bucket }}/images/homepage/icons/twitter-footer-icon.png">
  </a>
  <a class="sm-logo" href="{{ '/akademia/' | prepend: site.mfind_url }}" target="_blank" title="Akademia mfind">
    <img alt="Akademia" src="{{ site.aws_bucket }}/images/homepage/icons/academy-footer-icon.png">
  </a>
</div>
