---
layout: default
---

<div class="page-content" id="top">
  <section id="intro" class="bg-green">
    {% include section-top-slider.html %}
    <a class="go-next scroll-to" href="#dlaczego-mfind" title="Dlaczego mfind"></a>
  </section>

  <section class="bg-white" id="dlaczego-mfind">
    {% include section-dlaczego-mfind.html %}
  </section>

  <section class="bg-green" id="zaufali-nam">
    {% include section-trusted-us.html %}
  </section>

  <section id="porownujemy-ubezpieczenia">
    {% include section-compare-oc.html %}
  </section>

  <section id="faq">
    {% include section-faq.html %}
  </section>

  {% include product-quick-view.html %}
</div>
